.header {
	height: 92px;
	width: 100%;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #1eb7ee;
	box-shadow: 0 5px 10px rgb(37 40 41 / 30%);
	z-index: 1000;

	&__logo {
		width: 25%;
		text-align: center;
		@media (max-width: 1199px) {
			width: 160px;
		}
	}
	&__nav {
		flex: 1;
		@media (max-width: 991px) {
			display: none;
		}
	}
}
.nav {
	color: #fff;
	font-size: 20px;
	font-weight: 600;

	&__list {
		display: flex;
		justify-content: flex-end;
		align-items: baseline;
		list-style-type: none;
	}
	&__item {
		margin: 0 35px;
		cursor: pointer;
	}
	&__link {
		text-decoration: none;
		color: inherit;
		&_bold {
			font-weight: bold;
		}
	}
}

.logo {
	width: 40%;
	cursor: pointer;
	@media (max-width: 1199px) {
		width: 125px;
	}
}
