@import '../../scss/variables.scss';

.scoreboard {
	background-color: white;
	width: 100vw;
	border-radius: 60px 60px 0 0;

	@media (min-width: 992px) {
		width: 940px;
	}

	@media (min-width: 1200px) {
		width: 1120px;
	}
	&__options {
		height: 60px;
		display: flex;
	}
	&__option {
		display: flex;
		align-items: center;
		flex: 1;

		font-size: 24px;
		font-weight: 600;
		text-decoration: none;
		text-transform: uppercase;
		line-height: 60px;
		color: $color-blue;

		background-color: white;
		border-radius: 60px 60px 0 0;
		z-index: 1;

		svg {
			margin-right: 15px;
			position: relative;
			top: 5px;
		}

		g {
			fill: $color-blue;
		}

		&_blue.scoreboard__option_left {
			margin-right: -60px;
			border-radius: 60px 0 0 0;
		}

		&_blue.scoreboard__option_right {
			margin-left: -60px;
			border-radius: 0 60px 0 0;
		}

		&_blue {
			color: white;
			background-color: $background-color-blue-light;
			transition: background-color 0.3s ease-in-out;
			z-index: 0;

			g {
				fill: white;
			}

			&:hover {
				background-color: $background-color-blue;
			}
		}

		&_left {
			padding-right: 100px;
			justify-content: flex-end;
		}

		&_right {
			padding-left: 100px;
		}
	}
}
